#myVideo {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 50vh;
    max-width: 100%;
    max-height: 50vh;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }

  .carousel-item:hover .showmess{
    opacity: 20;
    transition: all 0.5s ease;
  }

  .carousel-item:hover .showimg{
    /* opacity: 0.8; */
    transition: all 0.5s ease;
  }

  .showimg{
    opacity: 1;
    transition: all 0.5s ease;
  }

  .showmess{
    color: whitesmoke;
    opacity: 0;
    transition: all 0.3s ease;
  }