* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', 'Arial', sans-serif;
}

/* HEADINGS */

h1, p {
  color: #fff;
  text-align: center;
  line-height: 1.4;
}

h1 {
  font-size: 4.2rem;
  margin: 86px;
}

h2 {
  color: #000;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 10px;
}

/* BASIC SETUP */

.page-wrapper {
  width: 100%;
  height: auto;
}

.nav-wrapper {
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: rgb(70, 0, 0);
}

.grad-bar {
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
      -webkit-animation: gradbar 15s ease infinite;
    -moz-animation: gradbar 15s ease infinite;
    animation: gradbar 15s ease infinite;
}

/* NAVIGATION */

.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 50px;
  overflow: hidden;
}

.navbar img {
  height: 16px;
  width: auto;
  justify-self: start;
  margin-left: 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  justify-self: end;
  width: 30vw;
  margin-right: 3vw;
}

.nav-item a {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
}

.nav-item a:hover {
  color: #3498db;
}

/* SECTIONS */

.headline {
  width: 100%;
  height: 92vh;
  min-height: 350px;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.7)), url('https://images.unsplash.com/photo-1435224668334-0f82ec57b605?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headp{
  height: 92vh;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  height: 100%;
  font-size: 150%;
  flex-basis: 30%;
  text-align: center;
  position: relative;
}

.wrapper {
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100%;
  
  
}

.gridder {
  width: 100%;
  height: 50vh;
  background-color: #f1f1f1;
  display: flex;
  padding: 50px;
  background-color: #000;
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}


@media (max-width: 680px) { 
  
  .navbar ul {
    width: 50vw;
    margin-right: 3vw;
  }

}

@media (max-width: 440px) { 
  
  .navbar ul {
    width: 70vw;
    margin-right: 3vw;
  }

  .navbar img{
    height: 8px;
    width: auto;
    justify-self: start;
    margin-left: 10px;
  }

}

@media (max-width: 320px) { 
  
  .navbar ul {
    width: 100vw;
    margin-right: 3vw;
    margin-left: 3vw;
  }

  .navbar img{
    height: 8px;
    width: auto;
    justify-self: start;
    margin-left: 10px;
    display: none;
    width: 0vw;
  }

}